{
    "MaxTime": "05:00:00",
    "Babel": "obabel",
    "Optimizer": "obminimize",
    "Gaussian": "g09",
    "Autogrid": "autogrid4",
    "Autodock": "/home/autodoc/adsuite/src100/autodock/self/autodock4",
    "QID": "DC",
    "User": "msotelo",
    "Processors": "16",
    "QueueLevel": "MAGR",
    "Memory": "64",
    "Options": "PM6 opt",
    "fileName": "",
    "Python2": "python2",
    "Python3": "/home/anaconda3/bin/python3",
    "grammarFile": "grammar_siesta.bnf",
    "ScriptPath": "/home/mgltools/mglt_1.5.6/MGLToolsPckgs/AutoDockTools/Utilities24",
    "MGLToosPath": "/home/mgltools/mglt_1.5.6/bin",
    "Receptor": "6y2fsl.pdbqt",
    "ScriptLigand": "prepare_ligand4.py",
    "ScriptGPF": "prepare_gpf4.py",
    "ScriptDPF": "prepare_dpf4.py",
    "ScriptSummarize": "summarize_results4.py",
    "ResultsFile": "covid19.out",
    "ResultDir": "results",
    "Incomplete": "incomplete",
    "PopulationSize": 20,
    "Iterations": 20,
    "ItemSize": 1000,
    "AttributeMin": 2
}
